
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/validacionRequired.css" rel="stylesheet" />

<h2>Seccion Grado</h2>
<hr />
<div style="margin-bottom:10px">

</div>
<button onclick='abrirModal(0)' class='btn btn-primary' data-bs-toggle='modal' data-bs-target='#myModal'>Crear <i class='glyphicon glyphicon-plus'></i></button>
<div style="margin-top:20px">
    <div id="tabla">

    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <div style="display: flex; align-items: center;">
                    <h4 class="modal-title" style="flex-grow: 1;">Crear nuevo registro</h4>
                    <button type='button' class='btn btn-danger' data-bs-dismiss='modal'><i class='glyphicon glyphicon-remove'></i></button>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <table style="width:80%;margin:auto">
                    <tr>
                        <td width="60%"><input class="limpiar form-control" type="text" id="txtIdGradoSeccion" disabled /></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Nombre de grado</label></td>
                        
                        <td width="60%"><select id="cboGrado" class="form-control"></select></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Nombre de seccion</label></td>
                        <td width="60%"><select id="cboSeccion" class="form-control"></select></td>
                    </tr>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button onclick="btnAceptar()" id="btnAceptar" type="button" class="btn btn-success">Aceptar</button>
                <button id="btnCerrar" type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/SeccionGrado.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
}
