
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/validacionRequired.css" rel="stylesheet" />
<h2>Docentes</h2>
<hr />
<label>Ingrese modalidad de contrato</label>
<select id="modalidadContrato" class="form-control">
</select>
<br />
<button onclick='abrirModal(0)' class='btn btn-primary' data-bs-toggle='modal' data-bs-target='#myModal'>Crear <i class='glyphicon glyphicon-plus'></i></button>
<div style="margin-top:20px">
    <div id="tablaDocente">
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <div style="display: flex; align-items: center;">
                    <h4 class="modal-title" style="flex-grow: 1;">Crear nuevo registro</h4>
                    <button type='button' class='btn btn-danger' data-bs-dismiss='modal'><i class='glyphicon glyphicon-remove'></i></button>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <table style="width:80%;margin:auto">
                    <tr>
                        <td><input type="hidden" class="limpiar" id="txtIdDocente"/></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Nombre del docente</label></td>
                        <td width="60%"><input class="limpiar requerido form-control" type="text" id="txtNombreDocente"/></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Primer apellido</label></td>
                        <td width="60%"><input class="limpiar requerido form-control" type="text" id="txtPrimerApellido"/></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Segundo apellido</label></td>
                        <td width="60%"><input class="limpiar requerido form-control" type="text" id="txtSegundoApellido"/></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Dirección</label></td>
                        <td width="60%"><input class="limpiar requerido form-control" type="text" id="txtDireccion" /></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Número de telefono</label></td>
                        <td width="60%"><input class="limpiar form-control" type="number" id="txtNumeroTelefono"/></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Número de celular</label></td>
                        <td width="60%"><input class="limpiar requerido form-control" id="txtNumeroCelular" type="number"/></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Correo electronico</label></td>
                        <td width="60%"><input class="limpiar requerido form-control" type="email" id="txtCorreo"/></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Sexo</label></td>
                        <td width="60%"><select class="limpiar requerido form-control" id="cboSexoPopUp"></select></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Fecha de ingreso</label></td>
                        <td width="60%"><input class="limpiar requerido form-control" type="text" id="datepicker"/></td>
                    </tr>
                    <tr>
                        <td width="40%"><label>Modo de contrato</label></td>
                        <td width="60%"><select class="limpiar requerido form-control" id="cboModalidadPopUp"></select></td>
                    </tr>
                    <tr>
                        <td><label>Cargar foto</label></td>
                        <td><img id="idImagen" width="150" height="100" style="border:1px solid"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="file" id="imagenes" value="foto"/></td>
                    </tr>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button onclick="btnAceptar()" id="btnAceptar" type="button" class="btn btn-success">Aceptar</button>
                <button id="btnCancelar" type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Docente.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
}
