
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />
<h2>Docentes</h2>
<hr />
<label>Ingrese modalidad de contrato</label>
<select id="modalidadContrato">
</select>
<div id="tablaDocente">
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Docente.js"></script>
@section Scripts{
    <script src="~/Scripts/datatables.min.js"></script>
}
