
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />
<h2>Periodo</h2>
<label>Buscar periodo por nombre</label>
<input type="text" id="txtNombre" />
<div id="tabla">
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Periodo.js"></script>

@section scripts{
    <script src="~/Scripts/datatables.min.js"></script>
}

